.contacts__form-title {
  @include font-parametrs(600, 25px, 32px);
  color: $dark;
}

.contacts__form-subtitle {
  line-height: 150%;
  color: $dark;
}

.contacts__tel {
  &span {
    @include font-parametrs(500, 14px, 17px);
    color: $dark;
  }

  &::placeholder {
    @include font-parametrs(500, 14px, 17px);
    color: $dark;
  }
}

.contacts__email {
  &::placeholder {
    @include font-parametrs(500, 14px, 17px);
    color: $dark;
  }
}
