.price {
  position: relative;
  top: -283px;
}

.price__wrapper {
  @extend %desktop-wrapper;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -283px;
}

.price__info {
  width: 306px;
  order: 3;
  padding-left: 4px;
  margin-left: 60px;
}

.price__head-title {
  @include font-parametrs(600, 55px, 90px);
  color: $dark-2;
  position: relative;
  margin: 110px 0 50px;

  &::after {
    content: "";
    position: absolute;
    width: 175px;
    height: 2.92px;
    top: 103px;
    left: 0;
    background-color: $orange-basic;
  }
}

.price__description {
  line-height: 27px;
  color: rgba($color: $dark-2, $alpha: 0.7);
  margin: 0 0 60px;
}

.price__contact {
  @include font-parametrs(500, 22px, 34px);
  color: $dark;
  margin: 0 0 13px 46px;
}

.price__contact-link {
  @include font-parametrs(500, 20px, 30px);
  padding-left: 47px;
  color: $black;
  background: url(../img/phone-icon.svg) left no-repeat;
}

.price__list {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 140px;
}

.price__items {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 672px;

  border: 1px solid rgba($color: $dark-2, $alpha: 0.3);
  border-radius: 6px;
  margin-right: 30px;
  background-color: $white;

  &--marked {
    border: 3px solid $orange-basic;
  }
}

.price__title {
  @include font-parametrs(600, 28px, 38px);
  color: rgba($color: $dark, $alpha: 0.7);
  margin: 0 0 40px;

  &--marked {
    @include font-parametrs(600, 28px, 34px);
    color: $orange-basic;
  }
}

.price__subtitle {
  line-height: 24px;
  color: $dark-2;
  padding-bottom: 28px;
  margin: 0 0 30px;
}

.price__items {
  &:first-child {
    padding: 37px 30px 27px;

    span {
      font-size: 25px;
      margin-left: 13px;
    }

    .price__subtitle {
      border-bottom: 1px solid rgba($color: $orange-basic, $alpha: 0.5);
    }

    .price__inner-item {
      padding-left: 30px;
      background: url(../img/check-icon-black.svg) left top 7px no-repeat;
    }
  }

  &:last-child {
    padding: 39px 30px 29px;

    .price__title {
      letter-spacing: -1.27273px;
    }

    span {
      font-size: 25px;
      line-height: 34px;
      margin-left: 68px;
    }

    .price__subtitle {
      border-bottom: 1px solid rgba($color: $dark-2, $alpha: 0.3);
    }

    .price__inner-item {
      padding-left: 22px;
      background: url(../img/check-icon-orange.svg) left top 12px no-repeat;
    }
  }
}

.price__inner-list {
  @extend %list-reset;
  line-height: 32px;
}

.price__inner-item {
  margin-bottom: 15px;
  width: 280px;
}

.price__inner-link {
  @include font-parametrs(600, 12px, 15px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 75px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white;
  background-color: $orange-basic;
  margin-top: auto;
}
