.tours__wrapper {
  @extend %desktop-wrapper;

  @media (max-width:$tablet-max-width) {
    max-width: 616px;
    margin: 0 auto;
  }

  @media (max-width:$mobile-max-width) {
    max-width: 288px;
    margin: 0 auto;
  }
}

.tours__title {
  @include font-parametrs(600, 55px, 80px);
  color: $dark-2;
  letter-spacing: -1.245px;
  margin: 0 0 64px;

  @media (max-width:$tablet-max-width) {
    @include font-parametrs(600, 30px, 45px);
    letter-spacing: normal;
    text-align: center;
    margin: 0 0 20px;

    br {
      display: none;
    }
  }

  @media (max-width:$mobile-max-width) {
    @include font-parametrs(600, 24px, 36px);
  }
}

.tours__intro {
  margin: 0 0 55px;

  letter-spacing: -0.466667px;
  position: relative;
  color: rgba($color: $dark-2, $alpha: 0.7);

  &::before {
    content: "";
    position: absolute;
    width: 228.5px;
    height: 4px;
    left: 0;
    top: -34px;
    background-color: $orange-basic;

    @media (max-width:$tablet-max-width) {
      display: none;
    }
  }

  @media (max-width:$tablet-max-width) {
    text-align: center;
    margin: 0 0 40px;
  }

  @media (max-width:$mobile-max-width) {
    margin: 0 0 20px;
  }
}

.tours__list {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 24px;

  @media (max-width:$tablet-max-width) {
    margin: 0 0 55px;
  }

  @media (max-width:$mobile-max-width) {
    margin: 0 0 5px;
  }
}

.tours__item {
  font-weight: 500;
  width: 350px;
  height: 430px;
  margin-bottom: 100px;
  position: relative;

  &:nth-last-child(2) {
    margin-left: 175px;

    @media (max-width:$tablet-max-width) {
      margin-left: 0;
    }
  }

  &:last-child {
    margin-right: 175px;

    @media (max-width:$tablet-max-width) {
      margin-left: 164px;
    }

    @media (max-width:$mobile-max-width) {
      margin-left: 0;
    }
  }

  @media (max-width:$tablet-max-width) {
    width: 288px;
    height: 425px;
    margin-bottom: 40px;
  }

  @media (max-width:$mobile-max-width) {
    margin-right: 0;
    margin-bottom: 35px;
  }
}

.tours__link {
  position: relative;

  &:hover::after {
    content: "";
    position: absolute;
    width: 350px;
    height: 430px;
    top: -415px;
    left: 0;
    z-index: 3;
    background: rgba($color:$dark, $alpha: 0.6) url("../img/see-tour.png") 50% 50% no-repeat;

    @media (max-width:$tablet-max-width) {
      display: none;
    }
  }

  & p {
    position: absolute;
    z-index: 2;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.415px;
    width: 215px;
    height: 65px;
    left: 67.5px;
    bottom: -1px;
    margin: 0;
    color: $dark-2;
    background-color: $white;

    @media (max-width:$tablet-max-width) {
      left: 36px;
    }
  }

  img {
    @media (max-width:$tablet-max-width) {
      width: 288px;
      height: 425px;
    }
  }
}
