.travel {
  display: flex;
  flex-wrap: wrap;
  height: 195px;
  margin-bottom: 74px;
}

.travel__city {
  width: 387px;

  border-right: 1px solid $grey;
}

.travel__city-title {
  @include font-parametrs(600, 18px, 32px);
  color: $dark;
  margin: 0 0 20px;
}

.travel__city-list {
  width: 100%;
  @include font-parametrs(500, 14px, 17px);
  color: rgba($color: $dark, $alpha: 0.5);

  td {
    width: 110px;
    height: 17px;
    padding: 0 0 7px 0;
  }
}

.travel__contact-list {
  @extend %list-reset;
  @include font-parametrs(500, 14px, 17px);
  color: rgba($color: $dark, $alpha: 0.5);

}

.travel__contact {
  width: 395px;
}

.travel__contact-title {
  @include font-parametrs(600, 18px, 32px);
  color: $dark;
  margin: 0 0 25px 65px;
}

.travel__contact-item {
  margin-bottom: 23px;
  position: relative;
}

/* .travel__contact-email {
  position: absolute;
  left: 65px;
} */

.travel__tel-email,
.travel__tel-icon {
  position: absolute;
  left: 65px;
}

.travel__contact-email {
  @include font-parametrs(500, 14px, 17px);
  color: $orange-basic;
  text-decoration: underline;
  padding-left: 106px;
}

.travel__contact-tel {
  @include font-parametrs(500, 16px, 32px);
  color: $orange-basic;
  text-decoration: underline;
  padding-left: 106px;
}

.travel__study {
  padding-left: 55px;
  border-left: 1px solid $grey;
}

.travel__study-title {
  @include font-parametrs(600, 18px, 32px);
  color: $dark;
  margin: 0 0 20px;
}

.travel__study-description {
  width: 330px;
  @include font-parametrs(500, 14px, 24px);
  color: rgba($color: $dark, $alpha: 0.5);
  margin: 0;
}
