.travel {
  display: flex;
  flex-wrap: wrap;
  height: 195px;
  margin-bottom: 74px;
}

.travel__city {
  width: 387px;

  border-right: 1px solid $grey;

  @media (max-width:$tablet-max-width) {
    width: 395px;
    margin-bottom: 20px;
  }

  @media (max-width:$mobile-max-width) {
    max-width: 288px;

    border-right: none;
    border-bottom: 1px solid $grey;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
}


.travel__city-title {
  @include font-parametrs(600, 18px, 32px);
  color: $dark;
  margin: 0 0 20px;

  @media (max-width:$mobile-max-width) {
    margin-top: 6px;
  }
}

.travel__city-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @extend %list-reset;
  @include font-parametrs(400, 14px, 17px);
  color: rgba($color: $dark, $alpha: 0.5);

  @media (max-width:$mobile-max-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}

.travel__group-list {
  @extend %list-reset;

  @media (max-width:$mobile-max-width) {
    margin-bottom: 20px;
  }

  &--first {
    margin-right: 49px;

    @media (max-width:$tablet-max-width) {
      margin-right: 45px;
    }

    @media (max-width:$mobile-max-width) {
      margin-right: 0;
    }
  }

  &--second {
    margin-right: 51px;

    @media (max-width:$mobile-max-width) {
      margin-right: 0;
    }
  }

  &--third {
    @media (max-width:$mobile-max-width) {
      margin-left: 77px;
    }
  }

  li {
    margin-bottom: 10px;

    @media (max-width:$mobile-max-width) {
      width: 134px;
    }
  }
}

.travel__contact-list {
  @extend %list-reset;
  @include font-parametrs(500, 14px, 17px);
  color: rgba($color: $dark, $alpha: 0.5);

}

.travel__contact {
  width: 395px;

  @media (max-width:$tablet-max-width) {
    width: 331px;
  }

  @media (max-width:$mobile-max-width) {
    max-width: inherit;

  }
}

.travel__contact-title {
  @include font-parametrs(600, 18px, 32px);
  color: $dark;
  margin: 0 0 25px 65px;

  @media (max-width:$tablet-max-width) {
    margin: 0 0 28px 50px;
  }

  @media (max-width:$mobile-max-width) {
    max-width: inherit;
    text-align: center;
    margin-left: 0;
  }
}

.travel__contact-item {
  margin-bottom: 23px;
  position: relative;
}

.travel__email-icon,
.travel__tel-icon {
  position: absolute;
  left: 65px;

  @media (max-width:$tablet-max-width) {
    top: -3px;
    left: 50px;
  }

  @media (max-width:$mobile-max-width) {
    left: 20px;
  }
}

.travel__tel-icon {
  @media (max-width:$mobile-max-width) {
    left: 39px;
  }
}

.travel__contact-email {
  @include font-parametrs(400, 14px, 17px);
  color: $orange-basic;
  text-decoration: underline;
  padding-left: 106px;

  @media (max-width:$tablet-max-width) {
    padding-left: 91px;
  }

  @media (max-width:$mobile-max-width) {
    padding-left: 61px;
  }
}

.travel__contact-tel {
  @include font-parametrs(400, 16px, 32px);
  color: $orange-basic;
  text-decoration: underline;
  padding-left: 106px;

  @media (max-width:$tablet-max-width) {
    padding-left: 91px;
  }

  @media (max-width:$mobile-max-width) {
    padding-left: 80px;
  }
}

.travel__study {
  padding-left: 55px;
  border-left: 1px solid $grey;

  @media (max-width:$tablet-max-width) {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-top: 30px;
    border-left: none;
    border-top: 1px solid $grey;
  }
}

.travel__study-title {
  @include font-parametrs(600, 18px, 32px);
  color: $dark;
  margin: 0 0 20px;
}

.travel__study-description {
  width: 330px;
  @include font-parametrs(400, 14px, 24px);
  color: rgba($color: $dark, $alpha: 0.5);
  margin: 0;

  @media (max-width:$tablet-max-width) {
    width: 100%;
    margin-bottom: 54px;

    br {
      display: none;
    }
  }

  @media (max-width:$mobile-max-width) {
    max-width: inherit;
    margin-bottom: 26px;
  }
}
